# Raw data files
data/raw/
data/cleaned/

# Power BI export CSVs (too large / not needed on GitHub)
data/powerbi/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Environment
.env
venv/